:root {
    --primary-dark: #333333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    /* footer support */
    margin-bottom: 100px;
}

h1 {
    line-height: 1.2;
}

button,
input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* HEADER */
.header {
    padding: 30px 0;
}
.title {
    text-align: center;
    font-size: 80px;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--primary-dark);
    cursor: pointer;
}
  
/* .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
} */

/* FOOTER */

.footer {
    position :absolute;
    bottom: 0;
    left: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.fab {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-github {
    color: #333;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}